
/* Variables */
:root {
  --primary-color: #EE4817;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Golden-Regular', Arial, sans-serif;
  background-image: url('back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Golden-Regular';
  src: url('Goldman-Regular.ttf') format('truetype');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  color: var(--primary-color);
}

#logo {
  width: 50px;
  margin-right: 15px;
}

#header-logo {
  display: flex; 
  align-items: center;
}

.avaname {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ava {
  font-size: 18px;
  font-weight: bold;
}

.verification {
  font-size: 12px;
}

#menu {
  font-size: 20px;
  font-weight: bold;
}

#form-container {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

#form-title {
  text-align: center;
}

#nft-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

@media (max-width: 510px) {
  #nft-form {
    width: 80%;  
  }
}

@media (min-width: 768px) {
  .card-container {
    justify-content: center;  
  }
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: var(--primary-color);
}

input[type="text"] {
  flex-grow: 1;
  margin-left: 20px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

button[type="submit"]{
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.card-container {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  align-items: center;
}

section {
  display: flex;
  align-items: center;
}

#resultcontainer {
  display: flex;
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#result {
  flex: auto; 
  margin-right: 10px;
  margin-bottom: 10px;
}

#nft-link {
  border: none;
  color: var(--primary-color);
  background-color: white;
} 

::placeholder {
  color: var(--primary-color);
  opacity: 0.5;  
}

:-ms-input-placeholder {
  color: var(--primary-color);
}

::-ms-input-placeholder {
  color: var(--primary-color);
}

